
.vs/MYP_RatesProvider/FileContentIndex/

.vs/MYP_RatesProvider/DesignTimeBuild/

.vs/MYP_RatesProvider/v17/.futdcache.v2

.vs/MYP_RatesProvider/v17/

.vs/ProjectEvaluation/

MYP_RatesProvider/obj/Debug/net8.0/

*.json

Test/obj/Debug/net8.0/

MYP_RatesProvider/obj/
