
.vs/MYP_RatesProvider/DesignTimeBuild/

.vs/MYP_RatesProvider/FileContentIndex/

.vs/MYP_RatesProvider/v17/

.vs/ProjectEvaluation/

MYP_RatesProvider/bin/Debug/net8.0/

*.csproj

MYP_RatesProvider/obj/Debug/net8.0/

MYP_RatesProvider/obj/

Test/bin/Debug/net8.0/Test.dll

Test/bin/Debug/net8.0/

Test/obj/Debug/net8.0/
